<% content_for :title, "Payment Due" %>

<table class="signup"><tr>

<td><h2>Player</h2>
<table>
	<tr>
		<td>Name</td>
		<td><%=h @signup.player1_name %></td>
	</tr>
	<tr>
	  	<td>Phone</td>
	  	<td><%=h @signup.player1_phone %></td>
	</tr>
	<tr>
	  	<td>Email</td>
	  	<td><%=h @signup.player1_email %></td>
	</tr>
	<tr>
	  	<td>Address</td>
	  	<td><%=h @signup.player1_address %></td>
	</tr>
</table>
</td>

<td width=200x><h2>Location</h2>
	<%=h @signup.location %>
</td>

<td width=200x><h2>T-Shirt Size</h2>
	<%=h @signup.tshirt_size %>
</td>

<td width=200px><h2>Paypal</h2>
	<% if @signup.coupon_discount > 0 %>
		Discount: -$10<br/>
	<% end %>
	Total: $<%= @signup.price %><br/>
	<form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_xclick">
	<input type="hidden" name="business" value="paypal@meridianpal.org">
	<input type="hidden" name="currency_code" value="USD">
	<input type="hidden" name="item_name" value="Soccer Camp (id=<%= @signup.id -%>)">
	<input type="hidden" name="amount" value="<%= @signup.price -%>">
	<input type="image" src="http://www.paypal.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
	</form>
</td>

<td width=300px>
<h2>Check</h2>
Meridian Police Activities League<br />
250 N. Baltic Pl. Suite A<br />
Meridian, Idaho 83642<br />
Memo: PAL Soccer Invoice: <%= @signup.id -%>
</td>

</tr></table>

<% if @auth_global %>
	<%= link_to 'Edit', edit_signup_path(@signup) %> |
	<%= link_to 'Back', signups_path %>
<% end %>
